In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
# Load the data
data = pd.read_excel('../data/2025 QS World University Rankings 2.2 (For qs.com).xlsx')

In [4]:
data.drop(columns=['Unnamed: 0','Unnamed: 2','Unnamed: 11','Unnamed: 13','Unnamed: 15','Unnamed: 17','Unnamed: 19','Unnamed: 21','Unnamed: 23','Unnamed: 25','Unnamed: 27'],inplace=True)

In [7]:
data.columns = data.iloc[0]

In [9]:
data.drop(index=0,inplace=True)

In [11]:
data.columns = data.iloc[1]

In [12]:
data.drop(index=1,inplace=True)

In [14]:
data.drop(index=2,inplace=True)

In [16]:
data.reset_index(drop=True,inplace=True)

In [19]:
data.drop('location',inplace=True,axis=1)

In [20]:
data

2,rank display,institution,location code,size,focus,research,status,ar score,er score,fsr score,cpf score,ifr score,isr score,irn score,ger score,SUS SCORE,Overall Score
0,1,Massachusetts Institute of Technology (MIT),United States,M,CO,VH,B,100,100,100,100,99.3,86.8,96,100,99,100
1,2,Imperial College London,United Kingdom,L,FC,VH,A,98.5,99.5,98.2,93.9,100,99.6,97.4,93.4,99.7,98.5
2,3,University of Oxford,United Kingdom,L,FC,VH,A,100,100,100,84.8,98.1,97.7,100,100,85,96.9
3,4,Harvard University,United States,L,FC,VH,B,100,100,96.3,100,74.1,69,99.6,100,84.4,96.8
4,5,University of Cambridge,United Kingdom,L,FC,VH,A,100,100,100,84.6,100,94.8,99.3,100,84.8,96.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498,1401+,University of Montana Missoula,United States,M,CO,HI,A,3,2.2,10.6,6.1,1.3,1.9,6.5,3.1,1,-
1499,1401+,University of Oradea,Romania,L,FC,MD,A,5.6,2.2,4,1.9,1.5,5.2,34.5,6.2,2.3,-
1500,1401+,University of San Carlos,Philippines,M,CO,MD,C,7.2,9.4,3.3,1.8,2.1,2.1,6.4,9.6,1,-
1501,1401+,"University Politehnica of Timisoara, UPT",Romania,L,FO,VH,A,4.1,4.2,7.2,3.9,1.4,2.5,18.6,3.9,1.1,-
1502,1401+,Western Washington University,United States,L,CO,HI,NaN,2.6,2.6,7.3,3.5,9.7,1.6,12.4,1.5,1.1,-